<div class="row " *ngIf="userdetail$">
    <div class="col-md-6 mb-3 mx-auto">
      <div class="d-flex flex-row border rounded">
          <div class="p-0 w-25">
              <img [src]="userdetail$?.imageUrl" class="img-thumbnail border-0" />
           </div>
          <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
              <h4 class="text-white">Name : {{userdetail$?.name}} <span routerLink="/dashboard" class="float-right">X</span></h4>
              <h5 class="text-white">Email : {{userdetail$?.email}}</h5>
              <h5 class="text-white">Phone No : {{userdetail$?.phone}}</h5>
              <h5 class="text-white">Address : {{userdetail$?.address}}</h5>
        </div>
      </div>
    </div>
  </div>