<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="value" (keyup.enter)="serachvalue(value)">
  <div class="input-group-append">
     <button class="btn btn-success" type="submit" (click)="serachvalue(value)">Go</button>
  </div>
</div>
<div *ngIf="user$ | async as userlist ; else noItems" class="row ">
  <ng-container *ngIf="userlist.length; else noItems">
     <div  class="col-md-6 mb-3"  *ngFor="let item of user$ | async; let i = index;">
        <div class="d-flex flex-row border rounded">
           <div class="p-0 w-25">
              <img [src]="item?.imageUrl" class="img-thumbnail border-0" />
           </div>
           <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
              <h4 class="text-white">{{item.name}}</h4>
              <h5 class="text-white">{{item.email}}</h5>
              <ul class="m-0 float-left text-white" style="list-style: none; margin:0; padding: 0">
                 <li>{{item.address}}</li>
              </ul>
              <p class="text-right m-0"><a routerLink="/userview"  (click)="saveid(item.id)" class="btn btn-primary">View Profile</a></p>
           </div>
        </div>
     </div>
  </ng-container>
  <ng-template #noItems>
     <h3 class="col-md-12 text-center text-white">No Items!</h3>
  </ng-template>
</div>